
.right-pannel{
  margin: 5px 0 10px 2%;
	float: left;
	min-height: 100px;
  padding: 1px 0;
  overflow: auto;
}

.right-pannel h3{
  color: #34495E;
  width: 90%;
  margin:	5px auto 0px auto;
  font-size: 1.5em;
	letter-spacing: 0.8px;
}

.right-pannel .city-tool{
  width: 100%;
  min-height: 45px;
  margin-top: 1px;
  float: left;
  border-bottom: 1px dotted #34495E;
  padding: 1px 0;
}

.right-pannel .city-tool .container {
  float: left;
  width: 60%;
  position: relative;
  padding-left: 22px;
  margin: 20px 0 2px 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 25px;
}

.right-pannel .city-tool .container .word{
  position: absolute;
  width: 80%;
  font-size: 0.9em;
  margin-top: 2px 0 0 5%;
  color: #34495E;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.right-pannel .city-tool .container input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.right-pannel .city-tool .container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid #34495E;
  border-radius: 3px;
  background-color: #ffffff;
}

.right-pannel .city-tool .container:hover input[type=checkbox] ~ .checkmark {
  background-color: #eee;
}

.right-pannel .city-tool .container input[type=checkbox]:checked ~ .checkmark {
  background-color: #34495E;
}

.right-pannel .city-tool .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.right-pannel .city-tool .container input[type=checkbox]:checked ~ .checkmark:after {
  display: block;
}

.right-pannel .city-tool .container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.right-pannel .city-tool .nights{
  float: right;
  width: 15%;
	min-width: 45px;
  min-height: 25px;
	text-align: center;
}

.right-pannel .city-tool .nights span{
	width: 100%;
  font-size: 0.8em;
  font-variant: small-caps;
  font-weight: bold;
  color: #34495E;
}

.right-pannel .city-tool .nights input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.right-pannel .city-tool .nights input[type=number] {
  -moz-appearance: textfield;
  width: 20px;
  height: 18px;
  border: 1px solid #34495E;
  outline: none;
  font-weight: bold;
  color: #34495E;
	text-align: center;
}

.right-pannel .only-direct{
  margin: 20px 8px 10px 8px;
  width: calc(100% - 18px);
  height: 32px;
  border-radius: 5px;
  border: 1px solid #34495E;
  cursor: pointer;
  overflow: hidden;
  font-variant: small-caps;
  font-size: 18px;
  font-weight: bold;
  outline: none;
}

.right-pannel h4{
  color: #34495E;
  width: 90%;
  margin:	10px auto 0 auto;
  font-size: 20px;
}

.right-pannel .by-price{
  margin: 10px 0 20px 8px;
  width: calc(50% - 10px);
  height: 32px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #34495E;
  cursor: pointer;
  overflow: hidden;
  font-variant: small-caps;
  font-size: 18px;
  font-weight: bold;
  outline: none;
}

.right-pannel .by-date{
  margin: 10px 8px 20px 0;
  width: calc(50% - 10px);
  height: 32px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #34495E;
  cursor: pointer;
  overflow: hidden;
  font-variant: small-caps;
  font-size: 18px;
  font-weight: bold;
  outline: none;
}

.right-pannel button:hover{
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.29), 0 3px 10px 0 rgba(0, 0, 0, 0.29);
}
