.result{
  width: 100%;
  min-height: 110px;
  margin-bottom: 10px;
}

.result .header{
  width: 96%;
  margin: 10px 2% 10px 2%;
  min-height: 10px;
  float: left;
}

.result .header button{
  float: left;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #34495E;
  cursor: pointer;
  overflow: hidden;
  font-variant: small-caps;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  margin-left: 2%;
}

.result .header button:hover{
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.29), 0 3px 10px 0 rgba(0, 0, 0, 0.29);
}

.loading{
  width: 100%;
  height: 8px;
  float: left;
}
